

body {
  margin: 0;
  font-size: 16px;
  height: auto;
  width: 100vw;

}

header {
  height: 4rem;
  width: 100%;
  background-color: lightblue;
  color: grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.navigations {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;

}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.nav {
  display: flex;
  align-items: center;
}

.nav:hover {
  transform: scale(1.2);
  color: blue;
  border-bottom: solid;
  border-width: 5px;
  border-color: blue;
}

.search {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.submit {
  height: 2rem;
  width: 5rem;
  background-color: cyan;
  color: black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}

.submit:hover {
  transform: scale(1.2);

}

article {

  height: auto;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  height: 25rem;
  width: 15rem;
  background-color: white;
  margin: 1%;
  transition: 100ms;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

}

.productcontent {

  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;


}

.singleProduct {
  height: 25rem;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: space-between;

  overflow: hidden;

}

.singleProductContent {

  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  
}



.singleProductImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
}

.image {
  width: auto;
  max-height: 100%;

}

.description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

p {
  margin: 0;

}

.productimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 14rem;
}

.productimg img {
  width: auto;
  max-height: 100%;

}

.product:hover {
  transform: scale(1.2);
}

section {
  height: auto;
  width: 100%;
  background-color: rgb(224, 103, 87);
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-around;
}

/* .func{
  transition: 100ms;
  margin: .1rem;
}
.func:hover{
  transform: scale(1.2);
} */
.func {
  cursor: pointer;
  height: 200px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 10rem;
  width: 100%;
  background-color: rgb(23, 172, 97);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  height: 3rem;
  width: 10rem;
  border-radius: 2rem;
  background-color: orange;
  font-weight: bolder;
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}

.main:hover {
  transform: scale(1.2);
}










@media screen and (max-width:920px) {
  
  
  body {
    margin: 0;
    font-size: 16px;
    height: auto;
    width: 100%;

  }

  header {
    height: 10rem;
    width: 100%;
    background-color: lightblue;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .navigations {
    display: none;


  }



  .search {
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .submit {
    height: 2rem;
    width: 5rem;
    background-color: cyan;
    color: black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms;
  }

  .submit:hover {
    transform: scale(1.2);

  }

  article {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .product {
    height: 25rem;
    width: 15rem;
    background-color: white;
    margin: 1%;
    transition: 100ms;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  
  }
  
  .productcontent {
  
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
  
  
  }
  
  .singleProduct {
    margin-top: 2rem;
    height: 30rem;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  
  }
  
  .singleProductContent {
  
    display: flex;
    width: 80%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    
  }
  
  
  
  .singleProductImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  
  }
  
  .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  p {
    margin: 0;
  
  }
  
  .productimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 14rem;
  }
  
  .productimg img {
    width: auto;
    max-height: 100%;
  
  }
  
  .product:hover {
    transform: scale(1.2);
  }

  section {
    height: auto;
    width: 100%;
    background-color: rgb(155, 156, 207);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  /* .func{
  transition: 100ms;
  margin: .1rem;
}
.func:hover{
  transform: scale(1.2);
} */
  .func {
    cursor: pointer;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  main {
    height: 8rem;
    width: 100%;
    background-color: rgb(23, 172, 97);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .main {
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    background-color: orange;
    font-weight: bolder;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms;
  }

  .main:hover {
    transform: scale(1.2);
  }
}